<div class="containerAlten" id="top-page">
    <nav class="navbar" id="navbar">
        <div class="image-container" id="image-container">
            <img class="altenImg" src="assets/ALTEN.jpg">
        </div>
        <div class="row" id="row">
            <form #cityForm="ngForm" (ngSubmit)="getCity(cityForm)" class="City" id="form">
                <div class="row" id="rowForm">
                    <div class="rowRow">
                        <h1 class="h1Form">ALTEN METEO</h1>
                        <div [ngClass]="cityFirstChecked ? 'firstInput' : 'firstInput2'">{{cityFirstChecked ? 'Inserisci una città': ''}}
                            <input type="radio" class="radioButton" ngModel name="cityCheck" value="cityCheck" id="cityCheck" (click)="cityFirstChecked ? notChecked() : oncheck()">
                                <div class="ifCity" *ngIf="cityFirstChecked===true">
                                    <input type="text" ngModel name="nomeCittà" class="collapseInput" placeholder="scrivi nome città" id="collapseInput"/>
                                    <input type="text" ngModel name="latitude"  class="collapseInput" placeholder="aggiungi latitudine" id="collapseInput"/>
                                    <input type="text" ngModel name="longitude" class="collapseInput" placeholder="aggiungi longitudine" id="collapseInput"/>
                                </div>
                        </div>
                        <div [ngClass]="checkBoxCityArray ? 'checkCity': 'checkCity2'">
                            <input type="radio" ngModel name="cityCheck" value="checkBoxCity" class="checkBoxCity" id="checkboxCity" (click)="checkBoxCityArray ? cityArrayNotChecked() : cityArrayCheck()">
                            <p *ngIf="checkBoxCityArray===true" class="pCheckCity">{{checkBoxCityArray ? 'Scegli una città dalla lista' : ''}}
                                <select name="cities" class="selectCity inline" id="citiesSeach" ngModel name="cityToChoose" label="scegli una città" aria-label="cittaArray" *ngIf="checkBoxCityArray===true">
                                    <option value="" class="cityOption" *ngFor="let City of cityArray" [ngValue]="City">{{City.cityName}}</option>
                                </select>
                            </p>
                        </div>
                        <div [ngClass]="freeMarkerCheck ? 'markerInput':'markerInput2'">{{freeMarkerCheck ? ('Marker mode attivato'|uppercase):''}}
                            <input type="radio" id="freemarker" class="radioButton" ngModel name="cityCheck" value="freeMarker">
                        </div>
                    </div>
                </div>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" ngModel name="temperatura"/>Temperatura
                </div>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" ngModel *ngIf="getUser!=='undefined'&&getPassword!=='undefined'" name="wind">{{logged ? "Vento" : ""}} 
                </div>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" ngModel *ngIf="getUser!=='undefined'&&getPassword!=='undefined'" name="soil_temperature">{{logged ? "Temperatura al suolo" : ""}}
                </div>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" ngModel  name="weathercode"/>Meteo
                </div>
                    <button type="submit" id="onSubmit" class="button">Invia</button>
            </form>
        </div>
        <button type="button" id="loggati" class="logButton" (click)="logged ? exit() : logIn()">{{logged ? "Esci" : "Accedi"}}</button>
    </nav>
    <div class="container-image"></div>
    <div class="CityMap">
        <app-map [data]="data"></app-map>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
