<div class="container">
    <h1 class="userLog"> Cronologia {{username}}</h1>
    <h1 class="userLog"> Orario Login: {{loginDate}}</h1>
    <div class="notPopolated">{{popolated ? "Non hai ancora eseguito alcuna azione" : "Azioni: "}}</div>
    <table id="table" class="table table-striped">
        <thead>
            <tr>
                <th scope="col-sm">Orario:</th>
                <th scope="col-sm">Azione:</th>
                <th scope="col-sm">Città cercata:</th>
                <th scope="col-sm">Parametri cercati:</th>
            </tr>
        </thead>
        <tbody>        
            <tr scope="row no-gutters" *ngFor="let action of pageActions">
                <td class="results">{{action.date}}</td>
                <td class="results">{{action.currentPageData}}</td>
                <td class="results">{{action.nomeCittaArray}}</td>    
                <td class="results">{{action.selezionati}}</td>
            </tr>
        </tbody>           
    </table>
    <button type="button" (click)="getBack()" id="button" class="buttonBack">Home</button>
</div>
